header
    .header__column
        a(href=routes.home)
            i.fas.fa-compact-disc
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login